<!DOCTYPE html>
<html>
<head>
    <title>Register - Buggy Bank</title>
</head>
<body>
    <h2>Register</h2>
    <form method="post" action="/register">
        Username: <input type="text" name="username" /><br/>
        Password: <input type="password" name="password" /><br/>
        <input type="submit" value="Register" />
    </form>
    <a href="/">Back to Login</a>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message|safe }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>